<form action='/menus/new' method='post'>
  <input type='text' name='name'>
  <input type='submit' value="Add Menu">
</form>
<br>
<h3>Your Menus:</h3>
<% @menus.each do |menu| %>
<p>
  <a href="/menus/<%= menu.id %>"><%= menu.name %></a>
</p>
<% end %><hr>
<h3>when you click on the menu name, it takes you to the menu page<h3>

<h5>
<ul>
  <li>enter a menu name and click "Add Menu"</li>
  <li>menu name is appended to the bottom of the list</li>
</ul>
</h5>